* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__body;
	font-size: 18px;
	line-height: $font__line-height-body;
}

h1, h2, h3, h4, h5, h6 {
  color: $color__text-heading;
	clear: both;
  font-family: $font__headings;
  font-weight: 700;
}

p {
  margin-top: 0;
	margin-bottom: 1.75em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
  background-color: #f8f8f8;
  border: 1px solid $color__border-color;
  border-radius: 4px;
  color: $color__text-meta;
  font-size: 105%;
  margin: 0 0 1em 0;
  padding: 20px !important;
  text-transform: none;
  p {
    margin-bottom: 0;
  }
}

blockquote:before {
  content: "“";
  font-size: 3.5em;
  color: $color__accent;
  font-family: Times New Roman,Times,serif;
  font-weight: 900;
  line-height: 1;
  display: block;
  height: .6em;
}
cite {
  color: $color__text-meta;
  font-size: 0.8em;
  font-weight: bold;
  font-style: italic;
  letter-spacing: -1px;
  padding-top: 1em;
}

address {
	margin: 0 0 1.5em;
}

code, kbd, tt, var {
	font-family: $font__code;
	@include font-size(0.9375);
}

abbr, acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark, ins {
	background: $color__background-ins;
	text-decoration: none;
}

mark {
  padding: 0.2em;
}

pre {
	background: $color__background-pre;
	@include font-size(0.9375);
	line-height: $font__line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}
kbd {
  padding: 2px 4px;
  font-size: 90%;
  color: #fff;
  background-color: #333;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}
kbd kbd {
  padding: 0;
  font-size: 100%;
  font-weight: 700;
  -webkit-box-shadow: none;
  box-shadow: none;
}
pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #333333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}
pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}

small {
  font-size: 85%;
}

big {
	font-size: 125%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small {
  font-weight: 400;
  line-height: 1;
}
h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h1 small
h2 small,
h3 small,
h1 .small,
h2 .small,
h3 .small {
  font-size: 65%;
}
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h4 small,
h5 small,
h6 small,
h4 .small,
h5 .small,
h6 .small {
  font-size: 75%;
}
h1{
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 12px;
}