.site-footer {
	.site-info {
		color: $color__text-main;
		font-size: 16px;
		padding: 20px 0;
		text-align: center;
		a,a:visited, a:hover {
			color: $color__text-meta;
			text-decoration: none;
		}
	}
	.widget-area-col {
		flex: 0 0 auto;
    	width: 100%;
	}
	.widget {
		padding: 20px 30px;
		margin-bottom: 0;
		h1,h2,h3,h4,h5,h6 {
			margin-top: 0.5rem;
		}
		li.blocks-gallery-item {
        	border: none;
	    }
	}
}

@media all and (min-width: 992px) {
	.site-footer {
		.widget-area-col {
			flex: 0 0 auto;
	    	width: 33.3333333333%;
		}
	}
}