$color__background-body: #f8f8f8;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__text-heading: #212121;
$color__text-main: #414141;
$color__text-summary: #616161;
$color__text-meta: #757575;
$color__accent: #009688;

$color__border-color: rgba(0, 0, 0, 0.085);
$color__border-input: #ccc;
$color__border-abbr: #666;

/* Dark Theme Color pallet*/
$color__dark-background-body: #19191c;
$color__dark-background-nav: #29292c; 
$color__dark-background-post: #29292c;
$color__dark-background-hr: #eaeaea;
$color__dark-background-button: #e6e6e6;
$color__dark-background-pre: #eee;
$color__dark-background-ins: #fff9c0;

$color__dark-border-button: #ccc #ccc #bbb;
$color__dark-border-button-hover: #ccc #bbb #aaa;
$color__dark-border-button-focus: #aaa #bbb #bbb;
$color__dark-border: #444444;
$color__dark-border-abbr: #5f6368; 

$color__dark-text-input: #f8f8f8;
$color__dark-text-input-focus: #ffffff;
$color__dark-link: #efefef;
$color__dark-link-visited: #e0e0e0;
$color__dark-link-hover: #efefef;
$color__dark-text-main: #e8eaed;
$color__dark-text-meta: #9aa0a6;
$color__dark-text-summary: #9aa0a6;




